.ramka{
    width: 90%;
    height: 700px;
    margin-top: 30px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}
.block{
    width: 300px;
    height: 200px;
    background-color: blueviolet;
    margin-top: 20px;
    margin-left:20px;
}
.odin{
    color:#ffffff;
    background-color: rgb(14, 1, 1);
    width:50px;
    height:30px;
}
.dva{
    margin-top: 20px;
    color:#ffffff;
    background-color: rgb(68, 67, 67);
    width:50px;
    height:30px;
}